<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="manifest" href="site.webmanifest">
        <link rel="apple-touch-icon" href="icon.png">
        <!-- Place favicon.ico in the root directory -->

        <link rel="stylesheet" href="https://github.com/renatomarinho/laravel-page-speed/test/Boilerplate/css/normalize.css">
        <link rel="stylesheet" href="https://github.com/renatomarinho/laravel-page-speed/test/Boilerplate/css/main.css">

        <style>
            .laravel-page-speed {
                text-align: center;
                /* before - css inline comment*/color: black;/* after - css inline comment*/
            }
            /* This is
                a multi-line
                css comment */
        </style>
    </head>
    <body>
        <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->

        <!-- Add your site or application content here -->
        <p>Hello world! This is HTML5 Boilerplate.</p>

        <p>Hello! I am /* not a comment */ at HTML context!</p>
        <p>Hello! I am // not a comment at HTML context!</p>
        <div style="background-image: url('img/test-bg.jpg');">
            <h1>Test Background Image</h1>
        </div>

        <svg width="325" height="200" xmlns="http://www.w3.org/2000/svg">
            <path d="M 80 80 A 45 45, 0, 0, 0, 125 125 L 125 80 Z" fill="green"/>
            <path d="M 230 80 A 45 45, 0, 1, 0, 275 125 L 275 80 Z" fill="red"/>
        </svg>

        <img src="http://emblemsbf.com/img/18346.jpg" width="250" style="height:300px; padding:10px" />

        <img src="tile whitespace.png" width="250" style="height:300px; padding:10px"/>

        <form method="get" class="form" style="display:block;border:1px solid red;">

            <input type="text" disabled="true" value="teste" width="100%">
            <input type="text" disabled="true">
            <input style="border:1px solid red" type="text" disabled=true>

            <input type="text" name="name with spaces" value="name with spaces" width="100%">

            <select style="height:300px; padding:10px">
                <option selected="selected" class="selected" style="cursor: default">Item</option>
                <option selected=selected>Item</option>
            </select>

            <button name="ok" disabled="disabled" class="btn" style="border:3px solid blue;">OK</button>
            <button class="btn" name="ok" disabled=disabled style="border:1px solid red">OK</button>

            <button type="submit" class="btn btn-success btn-block" ng-disabled="form.$invalid || btnLoading">
                <span ng-if="!btnLoading"> ok </span> <span ng-if="btnLoading"> <i class="fa fa-circle-o-notch fa-spin"></i> </span>
            </button>

            <vue-component :src="'src'" :type="'type'" :width="200"></vue-component>

        </form>

        <script>
            // Single Line Comment
            console.log('Laravel');
            /*

                Multi-line

                Comment

            */
            console.log('Page');
            /* before - inline comment*/console.log('Speed!');// after - inline comment
        </script>

        <script src="https://github.com/renatomarinho/laravel-page-speed/test/Boilerplate/js/vendor/modernizr-3.5.0.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-3.2.1.min.js"><\/script>')</script>
        <script src="https://github.com/renatomarinho/laravel-page-speed/test/Boilerplate/js/plugins.js" data-pagespeed-no-defer></script>
        <script src="https://github.com/renatomarinho/laravel-page-speed/test/Boilerplate/js/main.js"></script>

        <button type="submit" value="1000" name="tip" class="btn"><img src="/images/1000coin.png"/></button>

        <!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
        <script>
            window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date;
            ga('create','UA-XXXXX-Y','auto');ga('send','pageview');
        </script>
        <script src="https://www.google-analytics.com/analytics.js" async defer></script>
    </body>
</html>
