language: php
# list any PHP version you want to test against
php:
  - 5.6
  - 7.0
  - 7.1
before_script:
  - composer self-update
  - composer install --prefer-source --no-interaction
script: phpunit